/* Webfont: SwedenSans-Book */@font-face {
    font-family: 'SwedenSans';
    src: url('SwedenSansBook.woff2') format('woff2'), /* Modern Browsers */
         url('SwedenSansBook.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

