/* Webfont: SwedenSans-Regular */@font-face {
    font-family: 'SwedenSans';
    src: url('SwedenSansRegular.woff2') format('woff2'), /* Modern Browsers */
         url('SwedenSansRegular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

