/* Webfont: SwedenSans-SemBold */@font-face {
    font-family: 'SwedenSans';
    src: url('SwedenSansSemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('SwedenSansSemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

