<div class="ui top fixed menu">
  <a class="item" [routerLink]="['/user-list']" routerLinkActive="active" >Menu 1</a>
  <a class="item" [routerLink]="['/not-found']" routerLinkActive="active" >Menu 2</a>
  <div class="right menu">
    <a class="item">Sign Up</a>
    <a class="item">Help</a>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <div class="ui vertical menu visible sidebar">
  <div class="item">
    <div class="header">Main</div>
    <div class="menu">
      <a class="item" routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">User List</a>
      <a class="item" routerLink="/not-found" routerLinkActive="active" ariaCurrentWhenActive="page">Not Found</a>
    </div>
  </div>
  <div class="item">
    <div class="header">CMS Solutions</div>
    <div class="menu">
      <a class="item">Rails</a>
      <a class="item">Python ji ji ji i ji ij jjjijij jijij jij ijPython PythonPython PythonPythonPython </a>
      <a class="item">PHP</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Hosting</div>
    <div class="menu">
      <a class="item">Shared</a>
      <a class="item">Dedicated</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Support</div>
    <div class="menu">
      <a class="item">E-mail Support</a>
      <a class="item">FAQs</a>
    </div>
  </div>
</div>
<div class="pusher">
  <router-outlet></router-outlet>
</div> -->


<!--
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <div class="ui vertical menu">
      <div class="item">
        <div class="header">Main</div>
        <div class="menu">
          <a class="item" routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">User List</a>
          <a class="item" routerLink="/not-found" routerLinkActive="active" ariaCurrentWhenActive="page">Not Found</a>
        </div>
      </div>
      <div class="item">
        <div class="header">CMS Solutions</div>
        <div class="menu">
          <a class="item">Rails</a>
          <a class="item">Python</a>
          <a class="item">PHP</a>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container> -->

<!--
<div class="ui container grid">
  <div class="three wide column">
    <div class="ui vertical menu">
      <div class="item">
        <div class="header">Main</div>
        <div class="menu">
          <a class="item" routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">User List</a>
          <a class="item" routerLink="/not-found" routerLinkActive="active" ariaCurrentWhenActive="page">Not Found</a>
        </div>
      </div>
      <div class="item">
        <div class="header">CMS Solutions</div>
        <div class="menu">
          <a class="item">Rails</a>
          <a class="item">Python</a>
          <a class="item">PHP</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Hosting</div>
        <div class="menu">
          <a class="item">Shared</a>
          <a class="item">Dedicated</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Support</div>
        <div class="menu">
          <a class="item">E-mail Support</a>
          <a class="item">FAQs</a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <router-outlet></router-outlet>
  </div>
</div> -->